
body{
    font-family: 'Kanit', sans-serif;
    text-align: center;
}

 .container {
    padding: 200px;
    max-width: 100%;
} 



h1{
    font-size: 45px;
}

p{
    font-size: 20px;
    color: gray;
}

.row{
    text-align: left;
    padding: 10px;
}
